* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url("https://cdn.luogu.com.cn/upload/image_hosting/w8nmd0dp.png");
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    /*opacity:1;*/
}/*
.container {
    text-align: center;
    background: black no-repeat;
}*/
.demo {
    text-align: start;
    position: fiexd;
    background-color: white;
    opacity: 0.8;
}

.demo p {
    text-align: start;
    color: black;
}
.demo2 {
    text-align: center;
    position: fiexd;
    background-color: white;
    height: 100%;
    opacity: 0.8;
}

.demo2 p {
    text-align: center;
    color: black;
}
.wenzi{
    color: black;
    /*background: white;*/
}

a {
    text-decoration-line: none;
    color: black;
}

aside {
    height: 100%;
    width: 300px;
    position: relative;
    left: 0;
    top: 0;
    background: #243747;
    transition: width .5s;
}

aside .first {
    height: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}

aside .first .logo {
    color: #243747;
    font-size: 30px;
    background: lightcyan;
    border-radius: 20px;
    transition: color 2s;
}

aside .first .logo:hover {
    color: crimson;
}

aside ul li {
    width: 100%;
    list-style-type: none;
    padding-top: 5px;
}

aside ul li a {
    display: block;
    padding-left: 20px;
    text-align: left;
    color: #fff;
    transition: color 2s;
}

aside .listtext {
    font-size: 30px;
    display: inline-block;
}

aside ul li a:hover {
    color: #000;
    background: lightblue;
}

.icon-package {
    width: 30px;
    height: 30px;
}

.btn {
    border-radius: 5px;
    border: 0;
    background: #243747;
    color: #fff;
    position: absolute;
    top: 50%;
    right: -12px;
    height: 44px;
    cursor: pointer;
}


/*mini*/

.minibody .listtext {
    display: none;
}

.minibody aside {
    width: 40px;
    text-align: start;
}

.minibody aside ul li a {
    padding-left: 0;
}

.minibody aside .first .logo {
    font-size: 12px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    /*background-color:black;*/
    height:100%;/*750%*/
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:900px;
    float:right;
    padding:10px; 
    color:black;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
